
.avatar img{

    height:150px;
    weight:250px;
}

.mainpage h1 {

    margin:0;
    padding: 20px;
    text-align: center;
}
.mainpage {
    width: 90%;
    height: 100vh;
    margin: auto;
  
}